{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'libro/style.css' %}" />
</head>
<body>
    <h3><span class="glyphicon glyphicon-book"></span> Libro</h3>
<table>
    <tr>
        <td><strong><p>Nombre:</p></strong></td>
        <td><p>&nbsp; {{ libro.nombre }}</p></td>
    </tr>
    <tr>
        <td><strong><p>Registrado:</p></strong></td>
        <td><p>&nbsp; {{ libro.fecha_registro }}</p></td>
    </tr>
</table>
</body>
</html>